[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
"python-dateutil" = "*"
"pandas" = "*"
"pyaudio" = "*"
"requests" = "*"
"progressbar2" = "*"
"peewee" = "*"
"pika" = "*"
"psutil" = "*"
"pysnowflake" = "*"


[dev-packages]

[requires]
python_version = "3.6"
